In [30]:
import pandas as pd
df=pd.read_csv('week2.csv')
df.head()

,statistic_yyy,district_code,site_id,village,edu_age_15up_total,edu_doctor_graduated_m,edu_doctor_graduated_f,edu_doctor_ungraduated_m,edu_doctor_ungraduated_f,edu_master_graduated_m,...,edu_juniorvocational_ungraduated_m,edu_juniorvocational_ungraduated_f,edu_primary_graduated_m,edu_primary_graduated_f,edu_primary_ungraduated_m,edu_primary_ungraduated_f,edu_selftaughtl_m,edu_selftaughtl_f,edu_illiterate_m,edu_illiterate_f
0,統計年,區域別代碼,區域別,村里名稱,總計,博畢_男,博畢_女,博肄_男,博肄_女,碩畢_男,...,初肄_男,初肄_女,小畢_男,小畢_女,小肄_男,小肄_女,自修_男,自修_女,不識_男,不識_女
1,109,65000010001,新北市板橋區,留侯里,1455,3,1,2,2,50,...,0,0,26,64,2,4,0,2,0,3
2,109,65000010002,新北市板橋區,流芳里,1290,8,2,2,2,54,...,0,0,22,58,1,3,0,0,0,3
3,109,65000010003,新北市板橋區,赤松里,841,5,3,0,0,40,...,0,0,14,32,0,4,0,0,1,3
4,109,65000010004,新北市板橋區,黃石里,1049,4,3,3,0,32,...,0,0,25,52,0,4,0,1,1,2

In [31]:
#減少欄位這樣show出來比較好理解
#最有可能是被第0列的中文字給干擾
#所以把第0列drop掉，得到temp_new
temp=df[['site_id','edu_age_15up_total']]
temp_new = temp.drop(0)
print(temp.head())
print(temp_new.head())
print(temp.info())

#把只剩數字的edu_age_15up_total轉成int
temp_new['edu_age_15up_total']=temp_new["edu_age_15up_total"].astype(int)
print(temp_new.head())
print(temp_new.info())

  site_id edu_age_15up_total
0     區域別                 總計
1  新北市板橋區               1455
2  新北市板橋區               1290
3  新北市板橋區                841
4  新北市板橋區               1049
  site_id edu_age_15up_total
1  新北市板橋區               1455
2  新北市板橋區               1290
3  新北市板橋區                841
4  新北市板橋區               1049
5  新北市板橋區               1698
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489 entries, 0 to 1488
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   site_id             1489 non-null   object
 1   edu_age_15up_total  1489 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB
None
  site_id  edu_age_15up_total
1  新北市板橋區                1455
2  新北市板橋區                1290
3  新北市板橋區                 841
4  新北市板橋區                1049
5  新北市板橋區                1698
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1488 entries, 1 to 1488
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   site_id             1488 non-null   object
 1   edu_age_15up_total  1488 non-null   int64
dtypes: int64(1), object(1)
memory usage: 34.9+ KB
None

In [32]:
#補充說明
#如果沒有drop掉，他會很困擾文字怎麼轉成int
temp['edu_age_15up_total']=temp["edu_age_15up_total"].astype(int)

ValueError: invalid literal for int() with base 10: '總計'

In [33]:
#補充檢查你所寫的程式碼在進行的運算，可以看一下下面的參考網頁
#https://blog.csdn.net/ssswill/article/details/86555935
#df['edu_age_15up_total']=pd.factorize(df["edu_age_15up_total"])[0].astype(int)

print(df["edu_age_15up_total"][0])
print(pd.factorize(df["edu_age_15up_total"][0]))

總計
(array([0, 0]), array(['總計'], dtype=object))

In [34]:
#你原本的程式碼：type=temp.groupby(['site_id'])['edu_age_15up_total'].sum().reset_index()
#建議不要使用可能會被以為是命令的字元type
#你會發現你打他們的時候跳綠字

table = temp_new.groupby(['site_id'])['edu_age_15up_total'].sum().reset_index()
table.head()

  site_id  edu_age_15up_total
0  新北市三峽區              100240
1  新北市三芝區               20576
2  新北市三重區              342292
3  新北市中和區              368407
4  新北市五股區               78745